<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Mental Static</title>
  <meta name="author" content="Zsolt Parragi <zsolt.parragi@cancellar.hu">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="icon" type="image/png" href="images/favicon.png">

  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/github.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="navbar">
    <ul class="navbar-list">
      <li class=navbar-item"><a href="/">Blog</a></li>
      <li class=navbar-item"><a href="https://github.com/dutow">Github</a></li>
    </ul>
  </div>
  <div class="navbar-spacer"></div>

  <div class="container">
        {{ content }}
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
